{% extends 'base.html' %}
{% load static %}
    {% block title %}
        <title> Edit post {{post.id}} </title>
    {% endblock %}
    {%block content%}
       
        {% if   user.is_authenticated %}
                <form class="p-3 bg-dark text-white rounded" 
                action="/saveeditpost/{{post.id}}" 
                method="POST" 
                enctype="multipart/form-data"  style = "width: 50vw ;">
                    {% csrf_token %}
                    <input type = "text" class="form-control" id="exampleFormControlInput1" value="{{post.title}}" name ='title' style =" margin-bottom: 2px;" />
                    <textarea class="form-control" id="exampleFormControlInput3" placeholder="{{post.text}}" name ='text' style ="height:20vw; margin-bottom: 12px;"></textarea>
                    <input type="submit" value ="Save"  class="btn btn-outline-light" style =" align: center;"/>
                </form>
        {% else %}     
                <div class="p-3 bg-dark text-white rounded" >
                    <h3>Login please.</h3 >
                </div>
        
        {% endif %}
      
        
    {% endblock %}  