{% extends 'base.html' %}
{% load static %}
    {% block title %}
        <title> Posts</title>
    {% endblock %}
    {%block content%}
                
        </div>
        {% for post in  posts %}
            <div style = "width: 25vw; margin: 4px; " class="shadow-lg p-3">
                <a  style  ="text-decoration: none; " href ='post/{{post.id}}'>
                    <div class="shadow-lg p-3 mb-2 bg-secondary border border-dark text-dark rounded m -2">
                         <h3 class = "fs-1">{{post.author}}</h3>
                        <h3 class = "fs-1">{{post.title}}</h3>
                        
                    </div>
                </a>
            </div>
        {% endfor %}
        
    {% endblock %}    
 