{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Registration </title>
{% endblock %}
{%block content%}
    <div class ="container">
        <div style ="width: 30vw;">
                <form action ="/registration"  method ="POST" class="p-3 bg-dark text-white rounded">
                    {% csrf_token %}
                    <input type ="text" placeholder="Name" name = 'name'  class = "form-control " style = "margin-bottom: 3px;"/>
                    <input type ="text" placeholder="email" name = 'e-mail' class = "form-control " style = "margin-bottom: 3px;"/>
                    <input type ="text" placeholder="Password" name = 'password' class = "form-control " style = "margin-bottom: 3px;"/>
                    <input type="submit" value ="Register" class = "form-control " />

                </form>
        </div>
    </div>
        
        
{% endblock %}  